<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Novak | Novak Djokovic</title>
  </head>
  <body>
  <header class="container">
    <div class="blue-box" >
      <ul class="top-menu">
        <li><img class="red-logo" src = "/images/logo.jpg"></li>
        <li><a href="/">NEWS</a></li>
        <li><a href="/about">NOVAK</a></li>
        <li><a href="/photo">PHOTO</a></li>
        <li><a href="#">TOUR</a></li>
        <li><a href="#">STORE</a></li>
      </ul>
    </div>
  </header>

<div class="container">
  <div class="row">
   <div class="col-sm-6 up">
      <img id="dare" src="/images/dare.png">
      <p class="words">
        "Just believe in your dreams. If you have dreams, don't give up.
        Belief is the most common word to me, even more than hope. For one,
        to achieve his dreams, he needs to truly believe in them."
      </p>
      <br><br><br>
      <div class="about">
        <br>
        <span class="year">1991.</span>
        <p class="bio">
          Novak Djokovic took a racquet in his hands for the first time when he was
          four years old. It was summer, and one of the best tennis coaches, Jelena Gencic,
          was holding a training camp. Every day Novak came by and watched the trainings.
          Then, one day, Jelena invited him on the court. He accepted, and started playing
          tennis.
        </p>
        <span class="year">1999.</span>
        <p class="bio">
          While still in elementary school, instead of staying in schoolyard to play with other
          kids, Novak was running back home to get ready for his tennis sessions. Rain, snow or
          holidays – nothing could have stopped him from hitting balls with his tennis coach, Jelena.
          At one point, when he made an enormous move forward, Jelena advised Novak’s parents:
          “If you want him to keep progressing, he has to leave the country”.
          At that time, a difficult economic and political situation was looming over Serbia. The decision
          to let Novak move to Germany was difficult, but it was the only logical thing to do.
          As a 13-year-old boy, Novak went to Munich, to train at the academy run by renowned tennis
          coach Nikola Pilic.
        </p>
        <span class="year">2001.</span>
        <p class="bio">
          Golden year for, at that time, 14-year-old Novak. He ended the year as a triple European champion
          in singles, doubles and in team competition – while also winning the silver medal at the
          World Junior Championship in a team competition for Yugoslavia.
        </p>
        <span class="year">2002.</span>
        <p class="bio">
          Novak Djokovic became the European champion in a category under 16 years.
        </p>
        <span class="year">2004.</span>
        <p class="bio">
          He played for the first time for a national Davis Cup team in a tie against Latvia. At that time
          he was ranked 606th. He won a point for Serbia and Montenegro by winning against Janis Skroderis.
          Novak Djokovic finished the season ’04 as 184th player in the ATP ranking list.
        </p>
        <span class="year">2006.</span>
        <p class="bio">
          Novak Djokovic played his first ever Grand Slam quarterfinal that year at Roland Garros.
          He finished the season ranked 16th in the world. In the middle of the year he started working with
          tennis coach Marian Vajda from Slovakia.
        </p>
        <span class="year">2007.</span>
        <p class="bio">
          Season of Novak’s great success started by winning a title in Adelaide.
          A few weeks later, he won the Estoril tournament. He played semi-finals of Roland Garros and Wimbledon,
          and started the American tour by winning his second masters title in Montreal, beating the top three
          players en-route to the title: Roger Federer, Rafael Nadal and Andy Roddick. This trophy led him to number
          3 in the world, which he held for 91 consecutive weeks – a truly remarkable tennis record.
          At the US Open he made his first Grand Slam final, where he lost to Roger Federer.
          Later that season, Novak secured Serbia’s historic place in the World group of Davis Cup competition,
          after which he won his 5th title in 2007, in Vienna.
        </p>
        <span class="year">2008.</span>
        <p class="bio">
        <img id="win" src="/images/win.jpg">
        Novak won his first Grand Slam title – the Australian Open, beating Jo-Wilfried Tsonga in the finals and
        losing only one set throughout the whole tournament. After that success, he won another three big trophies –
        Masters tournaments in Indian Wells and Rome, and Masters Cup in Shanghai.
        Novak also won the bronze medal for his country at the Olympic Games held in Beijing.
        </p>
        <span class="year">2009.</span>
        <p class="bio">
        Year of great achievements – ten ATP finals and five titles: Dubai, Beijing, Basel, Paris. However, Novak’s certainly
        most cherished title is the one he won in his hometown, Belgrade, where the first ever ATP tournament in Serbia was held.
        He finished season as number 3.
        </p>
        <span class="year">2010.</span>
        <p class="bio">
        He climbed to the number 2 spot in ATP rankings, defended the title in Dubai, won the tournament in Beijing and
        reached semi-finals of Wimbledon and finals of the US Open.
        </p>
        <span class="year">2011.</span>
        <p class="bio">
        Novak Djokovic had an impressive winning streak – 43 matches won in a row. There is no active player in the world
        that managed to achieve such a run. In his best shape, Novak arrived in London, for the Wimbledon Championships.
        There and then, in a span of just several days he fulfilled his childhood dreams. At the same time he lifted the Wimbledon
        trophy, and became <strong>the number one tennis player in the world</strong>.
        </p>
        <span class="year">2012.-2013.-2014.-2015.-2016.</span>
        <p class="bio">
        Most parts of these years Novak was number one. He finished 2016. as number 2 and that is his current position.
        </p>
        <span class="year">2017.</span>
        <p class="bio">
          Novak successfully defended his Qatar ExxonMobil Open crown with a 6-3, 5-7, 6-4 victory over Andy Murray in Doha final to start 2017 season in perfect fashion.
        </p>
        <br><br>


      </div>
   </div>
   <div class="col-sm-3">
      <img id="novak2" src="/images/novak2.png">
      <div class=" row blue-right">
        <div class="col-sm-2">
          <img id="novak3" src="/images/novak3.png">
        </div>
        <div class="col-sm-9">
          <p id="nole">Novak Djokovic</p>
          <div class="light-blue">
            <p class="info"> DATE OF BIRTH</p>
            <p class="info1"> 22 May 1987</p>
            <p class="info"> BIRTH PLACE</p>
            <p class="info1"> Belgrade, Serbia</p>
            <p class="info"> RESIDENCE</p>
            <p class="info1"> Monte Carlo, Monaco</p>
            <p class="info"> HEIGHT & WEIGHT</p>
            <p class="info1"> 188 cm & 80kg</p>
            <p class="info"> TURNED PRO</p>
            <p class="info1"> 2003</p>
            <p class="info"> PLAYS</p>
            <p class="info1"> Right-handed</p>
            <p class="info"> GEAR</p>
            <p class="info1"> Uniqlo, HEAD, Adidas</p>
            <p class="info"> COACH</p>
            <p class="info1"> Marjan Vajda</p>
            <p class="info"> ATP POSITION</p>
            <p class="info1"> #2 (7.915 points)</p>
          </div>
        </div>
      </div>
   </div>
  </div>

</div>
<div class="container">
  <div class="row brands">
    <div class="col-sm-2">
      <img id="uniqlo" src="/images/uniqlo.png">
    </div>
    <div class="col-sm-2">
      <img id="adidas" src="/images/adidas.png">
    </div>
    <div class="col-sm-2">
      <img id="seiko" src="/images/seiko.png">
    </div>
    <div class="col-sm-2">
      <img id="unicef" src="/images/unicef.png">
    </div>
    <div class="col-sm-2">
      <img id="head" src="/images/head.png">
    </div>
    <div class="col-sm-2">
      <img id="jacobs" src="/images/jacobs.png">
    </div>
  </div>

</div>
<footer>
  <div class="foot">
    <ul class="bottom-menu">
      <li><a href="/">NEWS</a></li>
      <li><a href="/about">NOVAK</a></li>
      <li><a href="/photo">PHOTO</a></li>
      <li><a href="#">TOUR</a></li>
      <li><a href="#">STORE</a></li>
    </ul>
  </div>
</footer>
  </body>
</html>
