<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Novak | Novak Djokovic</title>
  </head>
  <body>
  <header class="container">
    <div class="blue-box" >
      <ul class="top-menu">
        <li><img class="red-logo" src = "/images/logo.jpg"></li>
        <li><a href="/">NEWS</a></li>
        <li><a href="/about">NOVAK</a></li>
        <li><a href="/photo">PHOTO</a></li>
        <li><a href="#">TOUR</a></li>
        <li><a href="#">STORE</a></li>
      </ul>
    </div>
  </header>

<div class="container">
  <div class="row photo-caption">
    <h1>NOVAK'S PHOTOS</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a href="#" target="_blank"><img class="photo" src="/images/melb2.jpg"></a>
    </div>
    <div class="col-sm-4">
      <a href="#" target="_blank"><img class="photo" src="/images/fun.jpg"></a>
    </div>
    <div class="col-sm-4">
      <a href="#" target="_blank"><img class="photo" src="/images/kids.jpg"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img class="photo" src="/images/flagphoto.jpg">
    </div>
    <div class="col-sm-4">
      <img class="photo" src="/images/aus.jpg">
    </div>
    <div class="col-sm-4">
      <img class="photo" src="/images/melb.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img class="photo" src="/images/fun2.jpg">
    </div>
    <div class="col-sm-4">
      <img class="photo" src="/images/win.jpg">
    </div>
    <div class="col-sm-4">
      <img class="photo" src="/images/family2.jpg">
    </div>
  </div>

</div>
<div class="container">
  <div class="row brands">
    <div class="col-sm-2">
      <img id="uniqlo" src="/images/uniqlo.png">
    </div>
    <div class="col-sm-2">
      <img id="adidas" src="/images/adidas.png">
    </div>
    <div class="col-sm-2">
      <img id="seiko" src="/images/seiko.png">
    </div>
    <div class="col-sm-2">
      <img id="unicef" src="/images/unicef.png">
    </div>
    <div class="col-sm-2">
      <img id="head" src="/images/head.png">
    </div>
    <div class="col-sm-2">
      <img id="jacobs" src="/images/jacobs.png">
    </div>
  </div>

</div>
<footer>
  <div class="foot">
    <ul class="bottom-menu">
      <li><a href="/">NEWS</a></li>
      <li><a href="/about">NOVAK</a></li>
      <li><a href="/photo">PHOTO</a></li>
      <li><a href="#">TOUR</a></li>
      <li><a href="#">STORE</a></li>
    </ul>
  </div>
</footer>
  </body>
</html>
